
/* body{
    background: #f7f7ff;
    margin-top:20px;
} */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    word-wrap: break-word;
    backdrop-filter: blur(21px) saturate(200%);
    -webkit-backdrop-filter: blur(21px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 1.25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}
.main{
    padding-top: 6%;
    background-color: black;
}
h6{
    color:black;
    font-size: 20px;
}
h5{
    font-size: large;
}
.btn-style1{
    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    color: #fff;
    background-color: green;
    text-transform: capitalize;
    font-size: 1.6rem;
}
