
* {
  box-sizing: border-box;
}

.body-section{
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: rgb(137, 159, 132);
    font-family: "Euclid Circular A", "Poppins";
}

.card1 {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  backdrop-filter: blur(9px) saturate(200%);
    -webkit-backdrop-filter: blur(9px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 24px;
}

.card1-img {
  max-width: 280px;
  width: 28vw;
  height: 300px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.card1-h2 {
  font-size: 22px;
  margin-right: 30px;
  color: rgb(0, 0, 0);
}

.card1-h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(34, 28, 28, 0.9);
}

.card1-p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 254, 254, 0.7);
  margin-bottom: 24px;
}

.card1-button {
  border: 0;
  background-color: green;
  color: #f8f8f8;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
}
.card1-button:hover{
    background-color: #f8f8f8;
    color: green;
}

@media (width <= 740px) {
  .card1 {
    margin: 0 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    width: 150%;
    text-align: center;
    flex-direction: column;
  }
  .body-section{
    padding-top: 30%;
  }
  .card1-h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card1-img {
    margin: -100px 0 30px 0;
    width: 200%;
    max-width: 1000px;
  }
}